[phases.setup]
nixPkgs = ["python311"]

[phases.install]
cmds = [
  "python3 --version",
  "python3 -m venv /opt/venv",
  ". /opt/venv/bin/activate",
  "pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[phases.start]
cmd = "gunicorn services.api.app:app --bind 0.0.0.0:$PORT"
